 <!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-md-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">THEFT (Claims)</h6>
                <form class="row">
                    <div class="mb-3 col-xl-6">
                        <label for="InsuredName" class="form-label">Insured Name:</label>
                        <input type="text" class="form-control" id="InsuredName">
                    </div>
                    <div class="mb-3 col-xl-6">
                        <label for="Typeofcover" class="form-label">Type of cover</label>
                        <input type="text" class="form-control" id="Typeofcover">
                    </div>
                    <div class="mb-3 col-xl-6">
                        <label for="PolicyNumber" class="form-label">Policy Number:</label>
                        <input type="text" class="form-control" id="PolicyNumber">
                    </div>
                    <div class="mb-3 col-xl-6">
                        <label for="RegistrationNumber" class="form-label">Registration Number:</label>
                        <input type="text" class="form-control" id="RegistrationNumber">
                    </div>
                    <div class="mb-3 col-xl-6">

                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3 col-xl-6">
                        <label for="Telephone" class="form-label">Telephone</label>
                        <input type="text" class="form-control" id="Telephone">
                    </div>

                    <div class="mb-3  d-flex flex-row-reverse bd-highlight ">
                        <button type="submit" class="btn btn-primary">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
