@model HouseHolder;
<!-- Form Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-md-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">HouseHolder Insurance</h6>
                <form class="row" asp-controller="Underwriting" asp-action="MotorForm" autocomplete="off" method="post">                     
                    <div class="mb-3 col-xl-6">
                        <label asp-for="property" class="form-label">Property:</label>
                        <span asp-validation-for="property" class="text-danger"></span>
                        <select asp-for="property" class="form-select mb-3" aria-label="Default select example">
                            <option selected>Please Select</option>
                            <option value="1">Building</option>
                            <option value="2">Contents</option>
                            <option value="3">Building and contents</option> 
                        </select>
                    </div>

                    <div class="mb-3 col-xl-6">
                          <label asp-for="typeOfCover" class="form-label">Type of Cover:</label>
                        <span asp-validation-for="typeOfCover" class="text-danger"></span>
                        <select asp-for="typeOfCover" class="form-select mb-3" aria-label="Default select example">
                            <option value="">Please Select</option>
                            <option value="1">Fire, Building and Special Perils</option> 
                        </select>
                    </div>

                    <div class="mb-3 col-xl-6">
                        <label asp-for="valueOfBuilding" class="form-label">Value Of Building:</label>
                        <span asp-validation-for="valueOfBuilding" class="text-danger"></span>
                        <input type="text" asp-for="valueOfBuilding" class="form-control">
                    </div> 
                    <div class="mb-3 col-xl-6">
                        <label asp-for="location" class="form-label">Location:</label>
                        <span asp-validation-for="location" class="text-danger"></span>
                        <input type="text" class="form-control" asp-for="location">
                    </div>
                    <div class="mb-3 col-xl-6">
                        <label asp-for="purposeOfBuilding" class="form-label">purpose Of Building:</label>
                        <span asp-validation-for="purposeOfBuilding" class="text-danger"></span>
                        <input type="text" class="form-control" asp-for="purposeOfBuilding">
                    </div>
                     
                    <div class="mb-3  d-flex flex-row-reverse bd-highlight ">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Form End -->
