@{ 
    ViewData["Title"] = "Sales Quote";
}
    <!-- Sale Quote Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-4">
            <a asp-controller="Underwriting" asp-action="Products">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4" style="height:133px;">
                    <i class="bi bi-save-fill fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Generate Quote</h6>
                        <p class="m-2" style="color:#757575">This is for generating quote.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-xl-4">
            <a asp-controller="Underwriting" asp-action="ViewQuotes">
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4" style="height:133px;">
                    <i class="bi bi-binoculars fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">View All Quotes</h6>
                        <p class="m-2" style="color:#757575">You can view all generated quotes here.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-xl-4">
            <a asp-controller="Underwriting" asp-action="ConvertQuote" >
                <div class="bg-light rounded d-flex align-items-center justify-content-between p-4" style="height:133px;">
                    <i class="bi bi-life-preserver fa-3x text-primary"></i>
                    <div class="ms-3">
                        <h6 class="mb-2">Convert Quote</h6>
                        <p class="m-2" style="color:#757575">You can convert a quote here.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<!-- Sale & Revenue End -->
