 
@{
    ViewData["Title"] = "Generate Quote";
}
<style type="text/css">

    form {
        margin: 0px auto;
        padding: 10px 50px 54px 30px;
        width: 100%;
    }

    .tab p {
        font-size: 20px;
        margin: 0 0 10px 0;
    }

    input {
        margin: 10px 0;
        padding: 10px;
        box-sizing: border-box;
        font-size: 17px;
        border: 1px solid #aaaaaa;
    }

    .index-btn-wrapper {
        display: flex;
    }

    .index-btn {
        margin: 20px 15px 0 0;
        background: #990000;
        color: #ffffff;
        border: none;
        padding: 10px 20px;
        font-size: 17px;
        cursor: pointer;
        transition: 0.3s;
    }

        .index-btn:hover {
            opacity: 0.8;
        }

    .step {
        height: 30px;
        width: 30px;
        line-height: 30px;
        margin: 0 2px;
        color: white;
        background: #ab2b2b;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.25;
    }

</style>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-md-12 col-xl-12">
            <div class="bg-light rounded h-100 p-2">
                <form id="myForm" action="" method="post" autocomplete="off">
                    <div style="text-align:center; padding:40px;">
                        <span class="step" id="step-1">1</span>
                        <span class="step" id="step-2">2</span>
                    </div>

                    <div class="tab" id="tab-1">
                        <div class="row">
                            <div class="mb-3 col-xl-6">
                                <label for="InsuredName" class="form-label">Insured Name:</label>
                                <input type="text" class="form-control" id="InsuredName">
                            </div>
                            <div class="mb-3 col-xl-6">
                                <label for="Typeofcover" class="form-label">Type of cover</label>
                                <input type="url" class="form-control" id="Typeofcover">
                            </div>
                        </div>
                        <div class="row">
                            <div class="mb-3 col-xl-6">

                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1"
                                       aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3 col-xl-6">
                                <label for="Telephone" class="form-label">Telephone</label>
                                <input type="text" class="form-control" id="Telephone">
                            </div>
                        </div>

                        <div class="index-btn-wrapper">
                            <div class="index-btn" onclick="run(1, 2);">Next</div>
                        </div>
                    </div>

                    <div class="tab" id="tab-2">
                        <div class="row">
                            <div class="mb-3 col-xl-6">
                                <label for="PolicyNumber" class="form-label">Policy Number:</label>
                                <input type="text" class="form-control" id="PolicyNumber">
                            </div>
                            <div class="mb-3 col-xl-6">
                                <label for="RegistrationNumber" class="form-label">Registration Number:</label>
                                <input type="text" class="form-control" id="RegistrationNumber">
                            </div>
                        </div>
                        <div class="index-btn-wrapper">
                            <div class="index-btn" onclick="run(2, 1);">Previous</div>
                            <div class="index-btn" onclick="run(2, 3);">Next</div>
                        </div>
                    </div>
                    <div class="tab" id="tab-3">
                        <div class="index-btn-wrapper">
                            <div class="index-btn" onclick="run(3, 2);">Previous</div>
                            <button class="index-btn btn btn-primary" type="submit" name="submit">Submit</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Default tab
    $(".tab").css("display", "none");
    $("#tab-1").css("display", "block");

    function run(hideTab, showTab) {
        if (hideTab < showTab) { // If not press previous button
            // Validation if press next button
            var currentTab = 0;
            x = $('#tab-' + hideTab);
            y = $(x).find("input")
            for (i = 0; i < y.length; i++) {
                if (y[i].value == "") {
                    $(y[i]).css("background", "#ffdddd");
                    return false;
                }
            }
        }

        // Progress bar
        for (i = 1; i < showTab; i++) {
            $("#step-" + i).css("opacity", "1");
        }

        // Switch tab
        $("#tab-" + hideTab).css("display", "none");
        $("#tab-" + showTab).css("display", "block");
        $("input").css("background", "#fff");
    }
</script>