@{
    ViewData["Title"] = "Dashboard";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">


        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <div class="row">

                    <img src="~/Images/Manage/babu-passport-size-picture.png" class="pb-2 mx-auto" style="border-radius:50%; width:150px;height:150px;" />

                </div>
                <div class="container d-flex align-items-center justify-content-center">
                    <div style="" class="mx-auto fw-bold"> CADBURY</div>
                </div>
                <div class="container d-flex align-items-center justify-content-center pb-2">
                    <div style="" class="mx-auto  fw-bold">No 9 Gibbons Lane, West Hill park Dartford</div>
                </div>
                <dl class="row mb-0">

                    <dt class="col-sm-4">Email</dt>
                    <dd class="col-sm-8">olamabogs@gmail.com</dd>
                    <hr class="bg-primary" />
                    <dt class="col-sm-4 text-truncate">Phone No</dt>
                    <dd class="col-sm-8">
                        08033333345
                    </dd>
                </dl>
                <div class="container d-flex align-items-center justify-content-center pt-3">
                    <button class="btn btn btn-primary mx-auto">Generate Link</button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">DETAILS</h6>
                <dl class="row mb-0">
                    <dt class="col-sm-4">Company Name</dt>
                    <dd class="col-sm-8">CADBURY</dd>
                    <hr class="bg-primary" />
                    <dt class="col-sm-4">Address</dt>
                    <dd class="col-sm-8">No 9 Gibbons Lane, West Hill park Dartford</dd>
                    <hr class="bg-primary" />
                    <dt class="col-sm-4">Email</dt>
                    <dd class="col-sm-8">olamabogs@gmail.com</dd>
                    <hr class="bg-primary" />
                    <dt class="col-sm-4 text-truncate">Phone No</dt>
                    <dd class="col-sm-8">
                        08033333345
                    </dd>
                    <hr class="bg-primary" />
                    <dt class="col-sm-4">Created By</dt>
                    <dd class="col-sm-8">
                        Mabogs
                    </dd>
                    <hr class="bg-primary" />
                    <dt class="col-sm-4 text-truncate">Domain Name</dt>
                    <dd class="col-sm-8">
                        www.cnn.com
                    </dd>
                    <hr class="bg-primary" />
                    <dt class="col-sm-4 text-truncate">Date Created</dt>
                    <dd class="col-sm-8">
                        12/12/2016 00:00:00
                    </dd>
                    <hr class="bg-primary" />
                    <dt class="col-sm-4 text-truncate">Logo</dt>
                    <dd class="col-sm-8">
                        <img src="~/Images/Manage/babu-passport-size-picture.png" class="" width="65%" height="65%" />
                    </dd>

                </dl>
            </div>
        </div>

    </div>
</div>