@model UserLoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "Login";
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
    ============================================ -->
    <title>Sign In</title>
    <link href="~/css/site1.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>
<body>
    <div class="logo"> 
    </div>
    <div class="login-block">
        <h1>Login</h1>
        <form asp-controller="Account" asp-action="Login" method="post" autocomplete="off">
            <span asp-validation-for="CompanyId" class="text-danger" Style="font-family:Calibri; font-size:8pt;
                    color:#990000"></span>
            <input Text="Enter Company ID" asp-for="CompanyId" autocomplete="Disabled" placeholder="Enter Company ID" />

            <span asp-validation-for="UserId" class="text-danger" Style="font-family:Calibri; font-size:8pt;
                    color:#990000"></span>
            <input Text="Enter Email Address" asp-for="UserId" autocomplete="Disabled" placeholder="Enter Username" />

            <span asp-validation-for="Password" class="text-danger" Style="font-family:Calibri; font-size:8pt;
                    color:#990000"></span>
            <input Text="Enter Password" asp-for="Password" autocomplete="Disabled" type="password" placeholder="Enter Password" />

            <button type="submit">Sign In</button>
        </form>
        <a href="#" style="padding:5px; color:gray;">Forget password?</a>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_notificationPartial")
</body>
</html>  